<div class="bg-dark card">
    <div class="card-body">
      <div class="form-group row">
        <div class="col-md-12">
            <h2>Inloggen</h2>
        </div>
      </div>
      <form #loginForm="ngForm" (ngSubmit)="submit()" [ngFormOptions]="{updateOn: 'blur'}">
        <div class="form-group row">
          <div class="col-md-4"><label for="email">Email</label></div>
          <div class="col-md-8">
            <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="user.email" required email #email="ngModel">
            <div [hidden] = "email.valid || email.pristine"  class="alert alert-danger">
                <span>Een kloppend e-mail adres is vereist</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4"><label for="wachtwoord">Wachtwoord</label></div>
            <div class="col-md-8">
              <input type="password" class="form-control" name="password" placeholder="Wachtwoord" [(ngModel)]="user.password" required #password="ngModel">
              <div [hidden] = "password.valid || password.pristine" class="alert alert-danger">
                <span>Een wachtwoord is vereist</span>
              </div>
            </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12 text-warning">
            <p>{{formresult}}</p>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Inloggen</button>
            <button type="reset" class="btn btn-warning">Reset</button>
          </div>
        </div>
      </form>
    </div>
</div>