<section *ngIf="films" class="row">
  <main class="col-md-12">
    <div class="card-columns">
      <div class="card bg-dark clickable-item" *ngFor="let film of films">
        <a routerLink="/films/{{film._id}}">
          <img *ngIf="film.coverPicture!==''" src="{{film.coverPicture}}" alt="Coverpicture of the movie {{film.title}}" class="card-img-top img-fluid">
          <img *ngIf="film.coverPicture==''" src="assets/placeholder.png" alt="Geen foto beschikbaar" class="card-img-top img-fluid">
          <div class="card-body">
              <h4 class="card-title font-weight-bold">{{film.title}} ({{film.year}})</h4>
              <h6 *ngIf="film.subtitle" class="card-text">{{film.subtitle}}</h6>
              <span class="text-small" *ngFor="let point of getArrayFromNumber(film.popularity)">⭐</span>
              <p class="card-text text-warning font-weight-bold" style="margin-bottom:0">Met sterren zoals:</p>
              <p class="card-text"><span *ngFor="let star of film.stars">{{star}}, </span></p>
              <p class="card-text text-warning font-weight-bold text-small" style="margin-bottom:0">Geregisseerd door:</p>
              <p class="card-text text-small"><span *ngFor="let director of film.directors">{{director}}, </span></p>
              <p class="card-text text-warning font-weight-bold text-small" style="margin-bottom:0">Geschreven door:</p>
              <p class="card-text text-small"><span *ngFor="let writer of film.writers">{{writer}}, </span></p>
          </div>
        </a>
      </div>
    </div>
  </main>
</section>
<section *ngIf="error" class="row">
  <main class="col-md-12">
      <h3 class="font-weight-bold">Er is een fout opgetreden bij het ophalen van informatie.</h3>
      <p>Mogelijk heeft de server het te druk. Als dit probleem vaker optreedt raden wij u aan de online helpdesk te contacteren.</p>
      <a routerLink="/" class="link">Terug</a>
  </main>
</section>
<section *ngIf="loading" class="row">
    <main class="col-md-12">
      Laden...
    </main>
  </section>