.chair_select_table {
    margin-right:auto;
    margin-left:auto;
    tr {
        th {
            text-align:center;
            border-color:whitesmoke;
            border-width: 1px;
            border-style: solid;
            padding:1em; 
        }
        td {
            border-color:whitesmoke;
            border-width: 1px;
            border-style: solid;
            padding:1em; 
        }
    }
}