<div class="row">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" routerLink="films" role="tab">Films</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" routerLink="locations" role="tab">Locaties</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" routerLink="rooms" role="tab">Zalen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" routerLink="showings" role="tab">Voorstellingen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" routerLink="tickets" role="tab">Tickets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" routerLink="users" role="tab">Gebruikers</a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>