
<h2>Film toevoegen</h2>
<div class="form-group">
    <label>Film titel</label>
    <input type="text" class="form-control" placeholder="Film titel" [(ngModel)]="film.title">
</div>
<div class="form-group">
    <label>Film subtitel</label>
    <input type="text" class="form-control" placeholder="Film subtitel" [(ngModel)]="film.subtitle">
</div>
<div class="form-group">
    <label>Film beschrijving</label>
    <textarea type="text" class="form-control" placeholder="Film beschrijving" [(ngModel)]="film.description"></textarea>
</div>
<div class="form-group">
    <label>Film populariteit (1-10)</label>
    <input type="number" class="form-control" min="1" value="5" max="10" placeholder="Film sterren" [(ngModel)]="film.popularity">
</div>
<div class="form-group">
    <label>Tijdsduur in minuten</label>
    <input type="number" class="form-control" min="10" value="10" max="300" placeholder="Film tijd in minuten" [(ngModel)]="film.duration">
</div>
<div class="form-group">
    <label>Jaar van publicatie</label>
    <input type="number" class="form-control" min="1800" value="2010" max="3000" placeholder="Jaar van uitgave" [(ngModel)]="film.year">
</div>
<div class="form-group">
    <label>Link naar voorpagina foto</label>
    <input type="text" class="form-control" placeholder="Link" [(ngModel)]="film.coverPicture">
</div>
<div class="form-group">
    <label>Sterren, gescheiden door een komma</label>
    <input type="text" class="form-control" placeholder="Voorbeeld, Voorbeeld, Voorbeeld" [(ngModel)]="film.stars">
</div>
<div class="form-group">
    <label>REgisseurs, gescheiden door een komma</label>
    <input type="text" class="form-control" placeholder="Voorbeeld, Voorbeeld, Voorbeeld" [(ngModel)]="film.directors">
</div>
<div class="form-group">
    <label>Schrijvers, gescheiden door een komma</label>
    <input type="text" class="form-control" placeholder="Voorbeeld, Voorbeeld, Voorbeeld" [(ngModel)]="film.writers">
</div>
<div class="form-group">
    <label>Genre</label>
    <input type="text" class="form-control" placeholder="Genre" [(ngModel)]="film.genre">
</div>
<div class="form-group">
    <p>{{errorfield}}</p>
</div>
<div class="form-group">
    <button class="btn btn-primary" (click)="submit()">Toevoegen</button>
</div>
