
  <h2>Locatie toevoegen</h2>
  <div class="form-group">
    <label>Locatie Naam</label>
    <input type="text" class="form-control" placeholder="Locatie naam" [(ngModel)]="location.name">
  </div>
  <div class="form-group">
    <label>Straat</label>
    <input type="text" class="form-control" placeholder="Straat" [(ngModel)]="location.street">
  </div>
  <div class="form-group">
      <label>Stad</label>
      <input type="text" class="form-control" placeholder="Stad" [(ngModel)]="location.city">
  </div>
  <div class="form-group">
      <label>Huisnummer</label>
      <input type="number" class="form-control" placeholder="Huisnummer" [(ngModel)]="location.number">
  </div>
  <div class="form-group">
      <label>Postcode</label>
      <input type="text" class="form-control" placeholder="Postcode" [(ngModel)]="location.zip">
  </div>
  <div class="form-group">
      <label>Provincie</label>
      <input type="text" class="form-control" placeholder="Provincie" [(ngModel)]="location.state">
  </div>
  <div class="form-group">
      <label>Land</label>
      <select type="text" class="form-control" placeholder="Land" [(ngModel)]="location.country">
        <option value="Nederland">Nederland</option>
        <option value="België">België</option>
      </select>
  </div>
  <div class="form-group">
    <p>{{errorfield}}</p>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" (click)="submit()">Toevoegen</button>
  </div>
