<nav class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler btn-block text-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <a class="navbar-brand" routerLink="">Avancinema</a>
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="showings">Voorstellingen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="films">Films</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="locations">Locaties</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="admin">Biosbeheer</a>
      </li>
    </ul>
  </div>
</nav>