<h2>Zaal aanpassen</h2>
<form #editroomForm="ngForm" (ngSubmit)="submit()" [ngFormOptions]="{updateOn: 'blur'}">
  <div class="form-group">
    <label>Zaal</label>
    <select type="text" class="form-control" placeholder="Zaal titel" (change)="selectRoom($event)">
      <option value="">Kies zaal...</option>
      <option *ngFor="let item of rooms" value="{{item._id}}">{{item.name}}, {{item.location.name}}</option>
    </select>
  </div>
  <div class="form-group" *ngIf="room.name">
    <label>Zaal Naam</label>
    <input type="text" class="form-control" placeholder="Zaal naam" [(ngModel)]="room.name" name="name" #name="ngModel" required>
    <div [hidden] = "name.valid || name.pristine" class="alert alert-danger">
      <span>Een zaalnaam is vereist</span>
    </div>
  </div>
  <div class="form-group" *ngIf="room.name">
      <label>Rijen stoelen</label>
      <input type="number" class="form-control" min="1" max="60" step="1" minval="1" maxval="60" placeholder="Rijen" [(ngModel)]="room.rows" name="rows" #rows="ngModel" required>
      <div [hidden] = "rows.valid || rows.pristine" class="alert alert-danger">
        <span>Een rijnummer tussen de 1 en 60 is vereist</span>
      </div>
    </div>
  <div class="form-group" *ngIf="room.name">
      <label>Kolommen aan stoelen</label>
      <input type="number" class="form-control" min="1" max="25" step="1" minval="1" maxval="25" placeholder="Kolommen" [(ngModel)]="room.columns" name="columns" #columns="ngModel" required>
      <div [hidden] = "columns.valid || columns.pristine" class="alert alert-danger">
        <span>Een kolomnummer tussen de 1 en 25 is vereist</span>
      </div>
    </div>
    <div class="form-group" *ngIf="room.location">
        <label>Locatie</label>
        <p><em>{{room.location.name}}</em></p>
    </div>
  <div class="form-group" *ngIf="room.name">
    <p>{{errorfield}}</p>
  </div>
  <div class="form-group" *ngIf="room.name">
    <button type="submit" class="btn btn-primary" [disabled]="!editroomForm.form.valid">Aanpassen</button>
    <button type="reset" class="btn btn-warning">Reset</button>
  </div>
</form>