<section class="form-group row" *ngIf="isLoggedIn()">

</section>
<section class="form-group row" *ngIf="!isLoggedIn()">
  <main class="col-md-12">
      <h1>Gebruikersaccounts</h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
  </main>
</section>
<section class="form-group row" *ngIf="!isLoggedIn()">
  <main class="col-md-6">
    <app-login></app-login>
  </main>
  <aside class="col-md-6">
    <app-newuser></app-newuser>
  </aside>
</section>
  