<section class="row" style="margin-top:10px">
  <main class="col-md-12">
    <div class="card bg-dark clickable-item" style="margin-bottom:10px" *ngFor="let room of rooms">
      <a routerLink="/rooms/{{room._id}}">
        <div class="card-body">
            <h4 class="card-title font-weight-bold">{{room.name}}</h4>
            <p>{{room.location.name}}</p>
        </div>
      </a>
      <button class="btn btn-danger btn-block" (click)="deleteRoom(room._id)">Verwijder</button>
    </div>
  </main>
</section>
<section *ngIf="error" class="row">
    <main class="col-md-12">
        <h3 class="font-weight-bold">Er is een fout opgetreden bij het ophalen van informatie.</h3>
        <p>Mogelijk heeft de server het te druk. Als dit probleem vaker optreedt raden wij u aan de online helpdesk te contacteren.</p>
        <a routerLink="/" class="link">Terug</a>
    </main>
  </section>
  <section *ngIf="loading" class="row">
      <main class="col-md-12">
        Laden...
      </main>
    </section>