<h2>Film aanpassen</h2>
<form #filmeditForm="ngForm" (ngSubmit)="submit()" [ngFormOptions]="{updateOn: 'blur'}">
    <div class="form-group">
        <label>Film</label>
        <select type="text" class="form-control" placeholder="Film titel" (change)="selectFilm($event)">
            <option value="">Kies film...</option>
            <option *ngFor="let item of films" value="{{item._id}}">{{item.title}}</option>
        </select>
    </div>
    <div class="form-group" *ngIf="film.title">
        <label>Film titel</label>
        <input required type="text" class="form-control" placeholder="Film titel" [(ngModel)]="film.title" #title="ngModel" name="title">
        <div [hidden] = "title.valid || title.pristine"  class="alert alert-danger">
            <span>Een filmtitel is vereist</span>
        </div>
    </div>
    <div class="form-group" *ngIf="film.title">
        <label>Film subtitel</label>
        <input type="text" class="form-control" placeholder="Film subtitel" [(ngModel)]="film.subtitle" #subtitle="ngModel" name="subtitle">
    </div>
    <div class="form-group" *ngIf="film.title">
        <label>Film beschrijving</label>
        <textarea required type="text" class="form-control" placeholder="Film beschrijving" [(ngModel)]="film.description" #description="ngModel" name="description" minlength="50"></textarea>
        <div [hidden] = "description.valid || description.pristine"  class="alert alert-danger">
            <span>Een beschrijving van minstens 50 karakters is vereist</span>
        </div>
    </div>
    <div class="form-group" *ngIf="film.title">
        <label>Film populariteit (1-10)</label>
        <input required type="number" class="form-control" min="1" step="1" maxval="10" max="10" placeholder="Film sterren" [(ngModel)]="film.popularity" #popularity="ngModel" name="popularity">
        <div [hidden] = "popularity.valid || popularity.pristine"  class="alert alert-danger">
            <span>Een populariteitscijfer tussen de 1 en 10 is vereist</span>
        </div>
    </div>
    <div class="form-group" *ngIf="film.title">
        <label>Tijdsduur in minuten</label>
        <input required type="number" class="form-control" step="1" min="10" maxval="100" max="300" placeholder="Film tijd in minuten" [(ngModel)]="film.duration" #duration="ngModel" name="duration">
        <div [hidden] = "duration.valid || duration.pristine" class="alert alert-danger">
            <span>Een tijdsduur tussen de 10 en 300 minuten is vereist</span>
        </div>
    </div>
    <div class="form-group" *ngIf="film.title">
        <label>Jaar van publicatie</label>
        <input required type="number" class="form-control" min="1800" step="1" minval="1800" maxval="3000" max="3000" placeholder="Jaar van publicatie" [(ngModel)]="film.year" #year="ngModel" name="year">
        <div [hidden] = "year.valid || year.pristine"  class="alert alert-danger">
            <span>Een jaargetal tussen de 1800 en 3000 is vereist</span>
        </div>
    </div>
    <div class="form-group" *ngIf="film.title">
        <label>Link naar voorpagina foto</label>
        <input required type="url" class="form-control" placeholder="Link" [(ngModel)]="film.coverPicture" #coverPicture="ngModel" name="coverPicture">
        <div [hidden] = "coverPicture.valid || coverPicture.pristine"  class="alert alert-danger">
            <span>Een foto link is vereist</span>
        </div>
    </div>
    <div class="form-group" *ngIf="film.title">
        <label>Sterren, gescheiden door een komma</label>
        <input type="text" class="form-control" placeholder="Voorbeeld, Voorbeeld, Voorbeeld" [(ngModel)]="film.stars" #stars="ngModel">
    </div>
    <div class="form-group" *ngIf="film.title">
        <label>Regisseurs, gescheiden door een komma</label>
        <input type="text" class="form-control" placeholder="Voorbeeld, Voorbeeld, Voorbeeld" [(ngModel)]="film.directors" #directors="ngModel">
    </div>
    <div class="form-group" *ngIf="film.title">
        <label>Schrijvers, gescheiden door een komma</label>
        <input type="text" class="form-control" placeholder="Voorbeeld, Voorbeeld, Voorbeeld" [(ngModel)]="film.writers" #writers="ngModel">
    </div>
    <div class="form-group" *ngIf="film.title">
        <label>Genre</label>
        <select required type="text" class="form-control" placeholder="Genre" [(ngModel)]="film.genre" #genre="ngModel" name="genre">
            <option value="Horror">Horror</option>
            <option value="Comedie">Comedie</option>
            <option value="Drama">Drama</option>
            <option value="Penguins">Penguins</option>
            <option value="Romantiek">Romantiek</option>
            <option value="Sci-fi">Sci-fi</option>
        </select>
        <div [hidden] = "genre.valid || genre.pristine"  class="alert alert-danger">
            <span>Een genre is vereist</span>
        </div>
    </div>
    <div class="form-group" *ngIf="film.title">
        <p>{{errorfield}}</p>
    </div>
    <div class="form-group" *ngIf="film.title">
        <button type="submit" class="btn btn-primary" [disabled]="!filmeditForm.form.valid">Aanpassen</button>
        <button type="reset" class="btn btn-warning">Reset</button>
    </div>
</form>